<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Projeto Gerar</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="{{=URL('static','img/favicon.png')}}" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet"> -->

    <!-- Bootstrap CSS File -->
    <link href="{{=URL('static','pg/lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">


    <!-- Libraries CSS Files -->
    <link href="{{=URL('static','pg/lib/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{=URL('static','pg/lib/animate/animate.min.css')}}" rel="stylesheet">
    <link href="{{=URL('static','pg/lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
    <link href="{{=URL('static','pg/lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
    <link href="{{=URL('static','pg/lib/magnific-popup/magnific-popup.css')}}" rel="stylesheet">
    <link href="{{=URL('static','pg/lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{{=URL('static','pg/css/style.css')}}" rel="stylesheet">

    <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
{{include}}


<!-- JavaScript Libraries -->
<script src="{{=URL('static','pg/lib/jquery/jquery.min.js')}}"></script>
<script src="{{=URL('static','pg/lib/jquery/jquery-migrate.min.js')}}"></script>
<script src="{{=URL('static','pg/lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{=URL('static','pg/lib/easing/easing.min.js')}}"></script>
<script src="{{=URL('static','pg/lib/superfish/hoverIntent.js')}}"></script>
<script src="{{=URL('static','pg/lib/superfish/superfish.min.js')}}"></script>
<script src="{{=URL('static','pg/lib/wow/wow.min.js')}}"></script>
<script src="{{=URL('static','pg/lib/owlcarousel/owl.carousel.min.js')}}"></script>
<script src="{{=URL('static','pg/lib/magnific-popup/magnific-popup.min.js')}}"></script>
<script src="{{=URL('static','pg/lib/sticky/sticky.js')}}"></script>

<!-- Contact Form JavaScript File -->
<!-- <script src="{{#URL('static','pg/contactform/contactform.js')}}"></script> -->

<!-- Template Main Javascript File -->
<script src="{{=URL('static','pg/js/main.js')}}"></script>
</body>
</html>